
PORT=3000
TWISPAY_SECRET=your_twispay_secret_key
SHOPIFY_API_KEY_client1=client1_shopify_api_key
SHOPIFY_API_PASSWORD_client1=client1_shopify_api_password
SHOPIFY_STORE_URL_client1=client1_shopify_store_url
SHOPIFY_API_KEY_client2=client2_shopify_api_key
SHOPIFY_API_PASSWORD_client2=client2_shopify_api_password
SHOPIFY_STORE_URL_client2=client2_shopify_store_url
